# Compiler files
cache/
out/

# Library
lib/

# Commonly ignored directories
.logs/
.ignore/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
*.tmp

# Coverage
coverage/
lcov.info

